* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
    /* font-size: 14px; */
  }
  
  table,
  .divTable {
    width: fit-content;
  }
  
  .tr {
    display: flex;
  }
  
  tr,
  .tr {
    width: fit-content;
    height: 30px;
  }
  
  th,
  .th,
  td,
  .td {
    padding: 0.25rem;
  }
  
  th,
  .th {
    padding: 2px 4px;
    position: relative;
    font-weight: bold;
    text-align: center;
    height: 30px;
  }
  
  td,
  .td {
    height: 30px;
  }
  
  .resizer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: rgba(0, 0, 0, 0.5);
    cursor: col-resize;
    user-select: none;
    touch-action: none;
  }
  
  .resizer.isResizing {
    background: blue;
    opacity: 1;
  }
  
  @media (hover: hover) {
    .resizer {
      opacity: 0;
    }
  
    *:hover > .resizer {
      opacity: 1;
    }
  }
  

  h1 {
    font-family: "Monument extended", "Krona One", sans-serif;
    font-weight:bolder;
  }
  .container {
    background-color:white
  }
  .float-label-input {
      margin: 32px 0;     
   }
  
  .float-label-input:focus-within label,
    .float-label-input input:not(:placeholder-shown) + label {
      transform: translateY(-1.5rem) scale(0.75);
      background-color: white;
  }